.example-container {

    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgb(16, 42, 90);
    color: azure;
  }
  
  .example-sidenav-content {

    height: 100%;

  }
  
  .example-sidenav {
    padding: 20px;
    max-width: 180px;
    background-color: rgb(95, 135, 211);
  }
  
