<h2 mat-dialog-title>Crear Curso!</h2>

<div mat-dialog-content>
<form [formGroup]="UserForm">
    <mat-form-field class="w-full">
        <mat-label> Nombre Curso </mat-label>
        <input formControlName="name" matInput/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Categoria</mat-label>

    <mat-select formControlName="category">
        <mat-option [value]="'programacion'">programacion</mat-option>
        <mat-option [value]="'dataScience'">DataScience</mat-option>
    </mat-select>
</mat-form-field>
</form>
</div>

<div mat-dialog-actions>
    <button (click)="onConfirm()" mat-button>Confirmar</button>
    <button mat-dialog-close mat-button>Cancelar</button>

</div>